body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

#main {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 37%, rgba(0,212,255,1) 100%);
    padding: 15px;
    margin: 15px 8px;
}

#title {
    color: #ffffff;
    font-size: 4.3rem;
}

#img-div {
    background-color: #fff;
    padding: 40px 120px;
}

#img-div img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

figcaption {
    font-size: 2.3rem;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: black;
}

@media (min-width: 319px) {
    #title {
        font-size: 3rem;
    }

    #img-div {
        padding: 5px 20px;
        margin-bottom: 15px;
    }

    #img-div img {
        padding: 0;
        padding-top: 10px;
    }

    figcaption {
        font-size: 1.5rem;
    }
}

@media (max-width: 320px) {
    #title {
        font-size: 2rem;
    }

    #img-div {
        background-color: #fff;
        padding: 0 20px;
    }

    #img-div img {
        padding: 0;
        padding-top: 10px;
    }

    figcaption {
        font-size: 1rem;
    }
}